
<% include _headers %>

<h2>Expenses</h2>
<div style="align: center;">

  <table class="table">
    <thead><th>Note</th><th>Amount</th><th>Created</th><th colspan="2">Actions</th></thead>
<tbody>
    <% data.forEach(function(item){%>

        <tr>

            <td><%=item.note%></td>
            <td>$ <%=item.amount%></td>
            <td><%=item.created_at%></td>

        <td><a class="btn btn-danger" href="<%=contextPath%>/delete/<%=item.id%>" >Delete</a></td>
        <td><a class="btn btn-primary" href="<%=contextPath%>/update/<%=item.id%>" >Update</a></td></tr>
    <%});%>

</tbody>

</table>
    <a class="btn btn-primary" href="<%=contextPath%>/create"><span class="glyphicon glyphicon-plus-sign"></span> New Expense</a>
</div>
</body>


</html>
<% include _footer %>
