<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


  <% data.forEach(function(item){ %>
    <br/>
      <%= item.id %> ,
    <%= item.name %> ,
    <%= item.email %> ,
    <%= item.password %>
  <%})%>

  </body>
</html>
